src/conf/xml-resources/web-service-references/InformationMeetingService/wsdl/localhost_8080/erpisWebServices/InformationMeetingService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://dbTest/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://dbTest/">

<xs:element name="getDate" type="tns:getDate"/>

<xs:element name="getDateResponse" type="tns:getDateResponse"/>

<xs:element name="getDescription" type="tns:getDescription"/>

<xs:element name="getDescriptionResponse" type="tns:getDescriptionResponse"/>

<xs:element name="getId" type="tns:getId"/>

<xs:element name="getIdResponse" type="tns:getIdResponse"/>

<xs:element name="getName" type="tns:getName"/>

<xs:element name="getNameResponse" type="tns:getNameResponse"/>

<xs:element name="getPlace" type="tns:getPlace"/>

<xs:element name="getPlaceResponse" type="tns:getPlaceResponse"/>

<xs:element name="setDate" type="tns:setDate"/>

<xs:element name="setDateResponse" type="tns:setDateResponse"/>

<xs:element name="setDescription" type="tns:setDescription"/>

<xs:element name="setDescriptionResponse" type="tns:setDescriptionResponse"/>

<xs:element name="setId" type="tns:setId"/>

<xs:element name="setIdResponse" type="tns:setIdResponse"/>

<xs:element name="setName" type="tns:setName"/>

<xs:element name="setNameResponse" type="tns:setNameResponse"/>

<xs:element name="setPlace" type="tns:setPlace"/>

<xs:element name="setPlaceResponse" type="tns:setPlaceResponse"/>

<xs:complexType name="setDate">
<xs:sequence>
<xs:element name="arg0" type="tns:timestamp" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="timestamp">
<xs:sequence>
<xs:element name="nanos" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setDateResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getDate">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getDateResponse">
<xs:sequence>
<xs:element name="return" type="tns:timestamp" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setDescription">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setDescriptionResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getName">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getNameResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDescription">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getDescriptionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setPlace">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setPlaceResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="setName">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setNameResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="setId">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setIdResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getId">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPlace">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getPlaceResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>