src/conf/xml-resources/web-service-references/InformationMeetingService/wsdl/localhost_8080/erpisWebServices/InformationMeetingService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://dbTest/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://dbTest/" name="InformationMeetingService">
<types>
<xsd:schema>
<xsd:import namespace="http://dbTest/" schemaLocation="http://localhost:8080/erpisWebServices/InformationMeetingService?xsd=1"/>
</xsd:schema>
</types>
<message name="getName">
<part name="parameters" element="tns:getName"/>
</message>
<message name="getNameResponse">
<part name="parameters" element="tns:getNameResponse"/>
</message>
<message name="setName">
<part name="parameters" element="tns:setName"/>
</message>
<message name="setNameResponse">
<part name="parameters" element="tns:setNameResponse"/>
</message>
<message name="getId">
<part name="parameters" element="tns:getId"/>
</message>
<message name="getIdResponse">
<part name="parameters" element="tns:getIdResponse"/>
</message>
<message name="getDate">
<part name="parameters" element="tns:getDate"/>
</message>
<message name="getDateResponse">
<part name="parameters" element="tns:getDateResponse"/>
</message>
<message name="setId">
<part name="parameters" element="tns:setId"/>
</message>
<message name="setIdResponse">
<part name="parameters" element="tns:setIdResponse"/>
</message>
<message name="getDescription">
<part name="parameters" element="tns:getDescription"/>
</message>
<message name="getDescriptionResponse">
<part name="parameters" element="tns:getDescriptionResponse"/>
</message>
<message name="setDescription">
<part name="parameters" element="tns:setDescription"/>
</message>
<message name="setDescriptionResponse">
<part name="parameters" element="tns:setDescriptionResponse"/>
</message>
<message name="setDate">
<part name="parameters" element="tns:setDate"/>
</message>
<message name="setDateResponse">
<part name="parameters" element="tns:setDateResponse"/>
</message>
<message name="setPlace">
<part name="parameters" element="tns:setPlace"/>
</message>
<message name="setPlaceResponse">
<part name="parameters" element="tns:setPlaceResponse"/>
</message>
<message name="getPlace">
<part name="parameters" element="tns:getPlace"/>
</message>
<message name="getPlaceResponse">
<part name="parameters" element="tns:getPlaceResponse"/>
</message>
<portType name="InformationMeeting">
<operation name="getName">
<input wsam:Action="http://dbTest/InformationMeeting/getNameRequest" message="tns:getName"/>
<output wsam:Action="http://dbTest/InformationMeeting/getNameResponse" message="tns:getNameResponse"/>
</operation>
<operation name="setName">
<input wsam:Action="http://dbTest/InformationMeeting/setNameRequest" message="tns:setName"/>
<output wsam:Action="http://dbTest/InformationMeeting/setNameResponse" message="tns:setNameResponse"/>
</operation>
<operation name="getId">
<input wsam:Action="http://dbTest/InformationMeeting/getIdRequest" message="tns:getId"/>
<output wsam:Action="http://dbTest/InformationMeeting/getIdResponse" message="tns:getIdResponse"/>
</operation>
<operation name="getDate">
<input wsam:Action="http://dbTest/InformationMeeting/getDateRequest" message="tns:getDate"/>
<output wsam:Action="http://dbTest/InformationMeeting/getDateResponse" message="tns:getDateResponse"/>
</operation>
<operation name="setId">
<input wsam:Action="http://dbTest/InformationMeeting/setIdRequest" message="tns:setId"/>
<output wsam:Action="http://dbTest/InformationMeeting/setIdResponse" message="tns:setIdResponse"/>
</operation>
<operation name="getDescription">
<input wsam:Action="http://dbTest/InformationMeeting/getDescriptionRequest" message="tns:getDescription"/>
<output wsam:Action="http://dbTest/InformationMeeting/getDescriptionResponse" message="tns:getDescriptionResponse"/>
</operation>
<operation name="setDescription">
<input wsam:Action="http://dbTest/InformationMeeting/setDescriptionRequest" message="tns:setDescription"/>
<output wsam:Action="http://dbTest/InformationMeeting/setDescriptionResponse" message="tns:setDescriptionResponse"/>
</operation>
<operation name="setDate">
<input wsam:Action="http://dbTest/InformationMeeting/setDateRequest" message="tns:setDate"/>
<output wsam:Action="http://dbTest/InformationMeeting/setDateResponse" message="tns:setDateResponse"/>
</operation>
<operation name="setPlace">
<input wsam:Action="http://dbTest/InformationMeeting/setPlaceRequest" message="tns:setPlace"/>
<output wsam:Action="http://dbTest/InformationMeeting/setPlaceResponse" message="tns:setPlaceResponse"/>
</operation>
<operation name="getPlace">
<input wsam:Action="http://dbTest/InformationMeeting/getPlaceRequest" message="tns:getPlace"/>
<output wsam:Action="http://dbTest/InformationMeeting/getPlaceResponse" message="tns:getPlaceResponse"/>
</operation>
</portType>
<binding name="InformationMeetingPortBinding" type="tns:InformationMeeting">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDescription">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setDescription">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setPlace">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPlace">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="InformationMeetingService">
<port name="InformationMeetingPort" binding="tns:InformationMeetingPortBinding">
<soap:address location="http://localhost:8080/erpisWebServices/InformationMeetingService"/>
</port>
</service>
</definitions>