src/conf/xml-resources/web-service-references/CitizenService/wsdl/localhost_8080/erpisWebServices/CitizenService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://dbTest/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://dbTest/" name="CitizenService">
<types>
<xsd:schema>
<xsd:import namespace="http://dbTest/" schemaLocation="http://localhost:8080/erpisWebServices/CitizenService?xsd=1"/>
</xsd:schema>
</types>
<message name="getId">
<part name="parameters" element="tns:getId"/>
</message>
<message name="getIdResponse">
<part name="parameters" element="tns:getIdResponse"/>
</message>
<message name="setId">
<part name="parameters" element="tns:setId"/>
</message>
<message name="setIdResponse">
<part name="parameters" element="tns:setIdResponse"/>
</message>
<message name="getAmka">
<part name="parameters" element="tns:getAmka"/>
</message>
<message name="getAmkaResponse">
<part name="parameters" element="tns:getAmkaResponse"/>
</message>
<message name="getInsuranceName">
<part name="parameters" element="tns:getInsuranceName"/>
</message>
<message name="getInsuranceNameResponse">
<part name="parameters" element="tns:getInsuranceNameResponse"/>
</message>
<message name="setAmka">
<part name="parameters" element="tns:setAmka"/>
</message>
<message name="setAmkaResponse">
<part name="parameters" element="tns:setAmkaResponse"/>
</message>
<message name="setFullName">
<part name="parameters" element="tns:setFullName"/>
</message>
<message name="setFullNameResponse">
<part name="parameters" element="tns:setFullNameResponse"/>
</message>
<message name="setInsuranceName">
<part name="parameters" element="tns:setInsuranceName"/>
</message>
<message name="setInsuranceNameResponse">
<part name="parameters" element="tns:setInsuranceNameResponse"/>
</message>
<message name="getFullName">
<part name="parameters" element="tns:getFullName"/>
</message>
<message name="getFullNameResponse">
<part name="parameters" element="tns:getFullNameResponse"/>
</message>
<portType name="Citizen">
<operation name="getId">
<input wsam:Action="http://dbTest/Citizen/getIdRequest" message="tns:getId"/>
<output wsam:Action="http://dbTest/Citizen/getIdResponse" message="tns:getIdResponse"/>
</operation>
<operation name="setId">
<input wsam:Action="http://dbTest/Citizen/setIdRequest" message="tns:setId"/>
<output wsam:Action="http://dbTest/Citizen/setIdResponse" message="tns:setIdResponse"/>
</operation>
<operation name="getAmka">
<input wsam:Action="http://dbTest/Citizen/getAmkaRequest" message="tns:getAmka"/>
<output wsam:Action="http://dbTest/Citizen/getAmkaResponse" message="tns:getAmkaResponse"/>
</operation>
<operation name="getInsuranceName">
<input wsam:Action="http://dbTest/Citizen/getInsuranceNameRequest" message="tns:getInsuranceName"/>
<output wsam:Action="http://dbTest/Citizen/getInsuranceNameResponse" message="tns:getInsuranceNameResponse"/>
</operation>
<operation name="setAmka">
<input wsam:Action="http://dbTest/Citizen/setAmkaRequest" message="tns:setAmka"/>
<output wsam:Action="http://dbTest/Citizen/setAmkaResponse" message="tns:setAmkaResponse"/>
</operation>
<operation name="setFullName">
<input wsam:Action="http://dbTest/Citizen/setFullNameRequest" message="tns:setFullName"/>
<output wsam:Action="http://dbTest/Citizen/setFullNameResponse" message="tns:setFullNameResponse"/>
</operation>
<operation name="setInsuranceName">
<input wsam:Action="http://dbTest/Citizen/setInsuranceNameRequest" message="tns:setInsuranceName"/>
<output wsam:Action="http://dbTest/Citizen/setInsuranceNameResponse" message="tns:setInsuranceNameResponse"/>
</operation>
<operation name="getFullName">
<input wsam:Action="http://dbTest/Citizen/getFullNameRequest" message="tns:getFullName"/>
<output wsam:Action="http://dbTest/Citizen/getFullNameResponse" message="tns:getFullNameResponse"/>
</operation>
</portType>
<binding name="CitizenPortBinding" type="tns:Citizen">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAmka">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getInsuranceName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setAmka">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setFullName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setInsuranceName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFullName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CitizenService">
<port name="CitizenPort" binding="tns:CitizenPortBinding">
<soap:address location="http://localhost:8080/erpisWebServices/CitizenService"/>
</port>
</service>
</definitions>