src/conf/xml-resources/web-service-references/ManagerService/wsdl/localhost_8080/erpisWebServices/ManagerService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://dbTest/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://dbTest/" name="ManagerService">
<types>
<xsd:schema>
<xsd:import namespace="http://dbTest/" schemaLocation="http://localhost:8080/erpisWebServices/ManagerService?xsd=1"/>
</xsd:schema>
</types>
<message name="getUser">
<part name="parameters" element="tns:getUser"/>
</message>
<message name="getUserResponse">
<part name="parameters" element="tns:getUserResponse"/>
</message>
<message name="checkUser">
<part name="parameters" element="tns:checkUser"/>
</message>
<message name="checkUserResponse">
<part name="parameters" element="tns:checkUserResponse"/>
</message>
<message name="saveAppointment">
<part name="parameters" element="tns:saveAppointment"/>
</message>
<message name="saveAppointmentResponse">
<part name="parameters" element="tns:saveAppointmentResponse"/>
</message>
<message name="citizenConfig">
<part name="parameters" element="tns:citizenConfig"/>
</message>
<message name="citizenConfigResponse">
<part name="parameters" element="tns:citizenConfigResponse"/>
</message>
<message name="addEmergency">
<part name="parameters" element="tns:addEmergency"/>
</message>
<message name="addEmergencyResponse">
<part name="parameters" element="tns:addEmergencyResponse"/>
</message>
<message name="existAp">
<part name="parameters" element="tns:existAp"/>
</message>
<message name="existApResponse">
<part name="parameters" element="tns:existApResponse"/>
</message>
<message name="returnAp">
<part name="parameters" element="tns:returnAp"/>
</message>
<message name="returnApResponse">
<part name="parameters" element="tns:returnApResponse"/>
</message>
<message name="createUser">
<part name="parameters" element="tns:createUser"/>
</message>
<message name="createUserResponse">
<part name="parameters" element="tns:createUserResponse"/>
</message>
<message name="addSubscriber">
<part name="parameters" element="tns:addSubscriber"/>
</message>
<message name="addSubscriberResponse">
<part name="parameters" element="tns:addSubscriberResponse"/>
</message>
<message name="loadMeetings">
<part name="parameters" element="tns:loadMeetings"/>
</message>
<message name="loadMeetingsResponse">
<part name="parameters" element="tns:loadMeetingsResponse"/>
</message>
<portType name="Manager">
<operation name="getUser">
<input wsam:Action="http://dbTest/Manager/getUserRequest" message="tns:getUser"/>
<output wsam:Action="http://dbTest/Manager/getUserResponse" message="tns:getUserResponse"/>
</operation>
<operation name="checkUser">
<input wsam:Action="http://dbTest/Manager/checkUserRequest" message="tns:checkUser"/>
<output wsam:Action="http://dbTest/Manager/checkUserResponse" message="tns:checkUserResponse"/>
</operation>
<operation name="saveAppointment">
<input wsam:Action="http://dbTest/Manager/saveAppointmentRequest" message="tns:saveAppointment"/>
<output wsam:Action="http://dbTest/Manager/saveAppointmentResponse" message="tns:saveAppointmentResponse"/>
</operation>
<operation name="citizenConfig">
<input wsam:Action="http://dbTest/Manager/citizenConfigRequest" message="tns:citizenConfig"/>
<output wsam:Action="http://dbTest/Manager/citizenConfigResponse" message="tns:citizenConfigResponse"/>
</operation>
<operation name="addEmergency">
<input wsam:Action="http://dbTest/Manager/addEmergencyRequest" message="tns:addEmergency"/>
<output wsam:Action="http://dbTest/Manager/addEmergencyResponse" message="tns:addEmergencyResponse"/>
</operation>
<operation name="existAp">
<input wsam:Action="http://dbTest/Manager/existApRequest" message="tns:existAp"/>
<output wsam:Action="http://dbTest/Manager/existApResponse" message="tns:existApResponse"/>
</operation>
<operation name="returnAp">
<input wsam:Action="http://dbTest/Manager/returnApRequest" message="tns:returnAp"/>
<output wsam:Action="http://dbTest/Manager/returnApResponse" message="tns:returnApResponse"/>
</operation>
<operation name="createUser">
<input wsam:Action="http://dbTest/Manager/createUserRequest" message="tns:createUser"/>
<output wsam:Action="http://dbTest/Manager/createUserResponse" message="tns:createUserResponse"/>
</operation>
<operation name="addSubscriber">
<input wsam:Action="http://dbTest/Manager/addSubscriberRequest" message="tns:addSubscriber"/>
<output wsam:Action="http://dbTest/Manager/addSubscriberResponse" message="tns:addSubscriberResponse"/>
</operation>
<operation name="loadMeetings">
<input wsam:Action="http://dbTest/Manager/loadMeetingsRequest" message="tns:loadMeetings"/>
<output wsam:Action="http://dbTest/Manager/loadMeetingsResponse" message="tns:loadMeetingsResponse"/>
</operation>
</portType>
<binding name="ManagerPortBinding" type="tns:Manager">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveAppointment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="citizenConfig">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addEmergency">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="existAp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="returnAp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addSubscriber">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loadMeetings">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ManagerService">
<port name="ManagerPort" binding="tns:ManagerPortBinding">
<soap:address location="http://localhost:8080/erpisWebServices/ManagerService"/>
</port>
</service>
</definitions>