src/conf/xml-resources/web-service-references/WsManService/wsdl/localhost_8080/ErpisWebServices/WsManService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://dbTest/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://dbTest/" name="WsManService">
<types>
<xsd:schema>
<xsd:import namespace="http://dbTest/" schemaLocation="http://localhost:8080/ErpisWebServices/WsManService?xsd=1"/>
</xsd:schema>
</types>
<message name="addSub">
<part name="parameters" element="tns:addSub"/>
</message>
<message name="addSubResponse">
<part name="parameters" element="tns:addSubResponse"/>
</message>
<message name="addEm">
<part name="parameters" element="tns:addEm"/>
</message>
<message name="addEmResponse">
<part name="parameters" element="tns:addEmResponse"/>
</message>
<message name="loadApps">
<part name="parameters" element="tns:loadApps"/>
</message>
<message name="loadAppsResponse">
<part name="parameters" element="tns:loadAppsResponse"/>
</message>
<message name="crUser">
<part name="parameters" element="tns:crUser"/>
</message>
<message name="crUserResponse">
<part name="parameters" element="tns:crUserResponse"/>
</message>
<message name="loadMeet">
<part name="parameters" element="tns:loadMeet"/>
</message>
<message name="loadMeetResponse">
<part name="parameters" element="tns:loadMeetResponse"/>
</message>
<message name="returnId">
<part name="parameters" element="tns:returnId"/>
</message>
<message name="returnIdResponse">
<part name="parameters" element="tns:returnIdResponse"/>
</message>
<message name="schedApp">
<part name="parameters" element="tns:schedApp"/>
</message>
<message name="schedAppResponse">
<part name="parameters" element="tns:schedAppResponse"/>
</message>
<message name="logInExist">
<part name="parameters" element="tns:logInExist"/>
</message>
<message name="logInExistResponse">
<part name="parameters" element="tns:logInExistResponse"/>
</message>
<message name="returnRole">
<part name="parameters" element="tns:returnRole"/>
</message>
<message name="returnRoleResponse">
<part name="parameters" element="tns:returnRoleResponse"/>
</message>
<portType name="WsMan">
<operation name="addSub">
<input wsam:Action="http://dbTest/WsMan/addSubRequest" message="tns:addSub"/>
<output wsam:Action="http://dbTest/WsMan/addSubResponse" message="tns:addSubResponse"/>
</operation>
<operation name="addEm">
<input wsam:Action="http://dbTest/WsMan/addEmRequest" message="tns:addEm"/>
<output wsam:Action="http://dbTest/WsMan/addEmResponse" message="tns:addEmResponse"/>
</operation>
<operation name="loadApps">
<input wsam:Action="http://dbTest/WsMan/loadAppsRequest" message="tns:loadApps"/>
<output wsam:Action="http://dbTest/WsMan/loadAppsResponse" message="tns:loadAppsResponse"/>
</operation>
<operation name="crUser">
<input wsam:Action="http://dbTest/WsMan/crUserRequest" message="tns:crUser"/>
<output wsam:Action="http://dbTest/WsMan/crUserResponse" message="tns:crUserResponse"/>
</operation>
<operation name="loadMeet">
<input wsam:Action="http://dbTest/WsMan/loadMeetRequest" message="tns:loadMeet"/>
<output wsam:Action="http://dbTest/WsMan/loadMeetResponse" message="tns:loadMeetResponse"/>
</operation>
<operation name="returnId">
<input wsam:Action="http://dbTest/WsMan/returnIdRequest" message="tns:returnId"/>
<output wsam:Action="http://dbTest/WsMan/returnIdResponse" message="tns:returnIdResponse"/>
</operation>
<operation name="schedApp">
<input wsam:Action="http://dbTest/WsMan/schedAppRequest" message="tns:schedApp"/>
<output wsam:Action="http://dbTest/WsMan/schedAppResponse" message="tns:schedAppResponse"/>
</operation>
<operation name="logInExist">
<input wsam:Action="http://dbTest/WsMan/logInExistRequest" message="tns:logInExist"/>
<output wsam:Action="http://dbTest/WsMan/logInExistResponse" message="tns:logInExistResponse"/>
</operation>
<operation name="returnRole">
<input wsam:Action="http://dbTest/WsMan/returnRoleRequest" message="tns:returnRole"/>
<output wsam:Action="http://dbTest/WsMan/returnRoleResponse" message="tns:returnRoleResponse"/>
</operation>
</portType>
<binding name="WsManPortBinding" type="tns:WsMan">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addSub">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addEm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loadApps">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loadMeet">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="returnId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="schedApp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="logInExist">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="returnRole">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WsManService">
<port name="WsManPort" binding="tns:WsManPortBinding">
<soap:address location="http://localhost:8080/ErpisWebServices/WsManService"/>
</port>
</service>
</definitions>