src/conf/xml-resources/web-service-references/AppointmentService/wsdl/localhost_8080/erpisWebServices/AppointmentService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://dbTest/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://dbTest/" name="AppointmentService">
<types>
<xsd:schema>
<xsd:import namespace="http://dbTest/" schemaLocation="http://localhost:8080/erpisWebServices/AppointmentService?xsd=1"/>
</xsd:schema>
</types>
<message name="getId">
<part name="parameters" element="tns:getId"/>
</message>
<message name="getIdResponse">
<part name="parameters" element="tns:getIdResponse"/>
</message>
<message name="getDate">
<part name="parameters" element="tns:getDate"/>
</message>
<message name="getDateResponse">
<part name="parameters" element="tns:getDateResponse"/>
</message>
<message name="setId">
<part name="parameters" element="tns:setId"/>
</message>
<message name="setIdResponse">
<part name="parameters" element="tns:setIdResponse"/>
</message>
<message name="setDate">
<part name="parameters" element="tns:setDate"/>
</message>
<message name="setDateResponse">
<part name="parameters" element="tns:setDateResponse"/>
</message>
<message name="getAmka">
<part name="parameters" element="tns:getAmka"/>
</message>
<message name="getAmkaResponse">
<part name="parameters" element="tns:getAmkaResponse"/>
</message>
<message name="getInsuranceName">
<part name="parameters" element="tns:getInsuranceName"/>
</message>
<message name="getInsuranceNameResponse">
<part name="parameters" element="tns:getInsuranceNameResponse"/>
</message>
<message name="getExamination">
<part name="parameters" element="tns:getExamination"/>
</message>
<message name="getExaminationResponse">
<part name="parameters" element="tns:getExaminationResponse"/>
</message>
<message name="getUserId">
<part name="parameters" element="tns:getUserId"/>
</message>
<message name="getUserIdResponse">
<part name="parameters" element="tns:getUserIdResponse"/>
</message>
<message name="getMedicalOffice">
<part name="parameters" element="tns:getMedicalOffice"/>
</message>
<message name="getMedicalOfficeResponse">
<part name="parameters" element="tns:getMedicalOfficeResponse"/>
</message>
<message name="setAmka">
<part name="parameters" element="tns:setAmka"/>
</message>
<message name="setAmkaResponse">
<part name="parameters" element="tns:setAmkaResponse"/>
</message>
<message name="setEmergencyReason">
<part name="parameters" element="tns:setEmergencyReason"/>
</message>
<message name="setEmergencyReasonResponse">
<part name="parameters" element="tns:setEmergencyReasonResponse"/>
</message>
<message name="setExamination">
<part name="parameters" element="tns:setExamination"/>
</message>
<message name="setExaminationResponse">
<part name="parameters" element="tns:setExaminationResponse"/>
</message>
<message name="setFullName">
<part name="parameters" element="tns:setFullName"/>
</message>
<message name="setFullNameResponse">
<part name="parameters" element="tns:setFullNameResponse"/>
</message>
<message name="setUserId">
<part name="parameters" element="tns:setUserId"/>
</message>
<message name="setUserIdResponse">
<part name="parameters" element="tns:setUserIdResponse"/>
</message>
<message name="setInsuranceName">
<part name="parameters" element="tns:setInsuranceName"/>
</message>
<message name="setInsuranceNameResponse">
<part name="parameters" element="tns:setInsuranceNameResponse"/>
</message>
<message name="setEmergencyDate">
<part name="parameters" element="tns:setEmergencyDate"/>
</message>
<message name="setEmergencyDateResponse">
<part name="parameters" element="tns:setEmergencyDateResponse"/>
</message>
<message name="setMedicalOffice">
<part name="parameters" element="tns:setMedicalOffice"/>
</message>
<message name="setMedicalOfficeResponse">
<part name="parameters" element="tns:setMedicalOfficeResponse"/>
</message>
<message name="getEmergencyDateTimestamp">
<part name="parameters" element="tns:getEmergencyDateTimestamp"/>
</message>
<message name="getEmergencyDateTimestampResponse">
<part name="parameters" element="tns:getEmergencyDateTimestampResponse"/>
</message>
<message name="getEmergencyDate">
<part name="parameters" element="tns:getEmergencyDate"/>
</message>
<message name="getEmergencyDateResponse">
<part name="parameters" element="tns:getEmergencyDateResponse"/>
</message>
<message name="getEmergencyReason">
<part name="parameters" element="tns:getEmergencyReason"/>
</message>
<message name="getEmergencyReasonResponse">
<part name="parameters" element="tns:getEmergencyReasonResponse"/>
</message>
<message name="getDateTimestamp">
<part name="parameters" element="tns:getDateTimestamp"/>
</message>
<message name="getDateTimestampResponse">
<part name="parameters" element="tns:getDateTimestampResponse"/>
</message>
<message name="getFullName">
<part name="parameters" element="tns:getFullName"/>
</message>
<message name="getFullNameResponse">
<part name="parameters" element="tns:getFullNameResponse"/>
</message>
<portType name="Appointment">
<operation name="getId">
<input wsam:Action="http://dbTest/Appointment/getIdRequest" message="tns:getId"/>
<output wsam:Action="http://dbTest/Appointment/getIdResponse" message="tns:getIdResponse"/>
</operation>
<operation name="getDate">
<input wsam:Action="http://dbTest/Appointment/getDateRequest" message="tns:getDate"/>
<output wsam:Action="http://dbTest/Appointment/getDateResponse" message="tns:getDateResponse"/>
</operation>
<operation name="setId">
<input wsam:Action="http://dbTest/Appointment/setIdRequest" message="tns:setId"/>
<output wsam:Action="http://dbTest/Appointment/setIdResponse" message="tns:setIdResponse"/>
</operation>
<operation name="setDate">
<input wsam:Action="http://dbTest/Appointment/setDateRequest" message="tns:setDate"/>
<output wsam:Action="http://dbTest/Appointment/setDateResponse" message="tns:setDateResponse"/>
</operation>
<operation name="getAmka">
<input wsam:Action="http://dbTest/Appointment/getAmkaRequest" message="tns:getAmka"/>
<output wsam:Action="http://dbTest/Appointment/getAmkaResponse" message="tns:getAmkaResponse"/>
</operation>
<operation name="getInsuranceName">
<input wsam:Action="http://dbTest/Appointment/getInsuranceNameRequest" message="tns:getInsuranceName"/>
<output wsam:Action="http://dbTest/Appointment/getInsuranceNameResponse" message="tns:getInsuranceNameResponse"/>
</operation>
<operation name="getExamination">
<input wsam:Action="http://dbTest/Appointment/getExaminationRequest" message="tns:getExamination"/>
<output wsam:Action="http://dbTest/Appointment/getExaminationResponse" message="tns:getExaminationResponse"/>
</operation>
<operation name="getUserId">
<input wsam:Action="http://dbTest/Appointment/getUserIdRequest" message="tns:getUserId"/>
<output wsam:Action="http://dbTest/Appointment/getUserIdResponse" message="tns:getUserIdResponse"/>
</operation>
<operation name="getMedicalOffice">
<input wsam:Action="http://dbTest/Appointment/getMedicalOfficeRequest" message="tns:getMedicalOffice"/>
<output wsam:Action="http://dbTest/Appointment/getMedicalOfficeResponse" message="tns:getMedicalOfficeResponse"/>
</operation>
<operation name="setAmka">
<input wsam:Action="http://dbTest/Appointment/setAmkaRequest" message="tns:setAmka"/>
<output wsam:Action="http://dbTest/Appointment/setAmkaResponse" message="tns:setAmkaResponse"/>
</operation>
<operation name="setEmergencyReason">
<input wsam:Action="http://dbTest/Appointment/setEmergencyReasonRequest" message="tns:setEmergencyReason"/>
<output wsam:Action="http://dbTest/Appointment/setEmergencyReasonResponse" message="tns:setEmergencyReasonResponse"/>
</operation>
<operation name="setExamination">
<input wsam:Action="http://dbTest/Appointment/setExaminationRequest" message="tns:setExamination"/>
<output wsam:Action="http://dbTest/Appointment/setExaminationResponse" message="tns:setExaminationResponse"/>
</operation>
<operation name="setFullName">
<input wsam:Action="http://dbTest/Appointment/setFullNameRequest" message="tns:setFullName"/>
<output wsam:Action="http://dbTest/Appointment/setFullNameResponse" message="tns:setFullNameResponse"/>
</operation>
<operation name="setUserId">
<input wsam:Action="http://dbTest/Appointment/setUserIdRequest" message="tns:setUserId"/>
<output wsam:Action="http://dbTest/Appointment/setUserIdResponse" message="tns:setUserIdResponse"/>
</operation>
<operation name="setInsuranceName">
<input wsam:Action="http://dbTest/Appointment/setInsuranceNameRequest" message="tns:setInsuranceName"/>
<output wsam:Action="http://dbTest/Appointment/setInsuranceNameResponse" message="tns:setInsuranceNameResponse"/>
</operation>
<operation name="setEmergencyDate">
<input wsam:Action="http://dbTest/Appointment/setEmergencyDateRequest" message="tns:setEmergencyDate"/>
<output wsam:Action="http://dbTest/Appointment/setEmergencyDateResponse" message="tns:setEmergencyDateResponse"/>
</operation>
<operation name="setMedicalOffice">
<input wsam:Action="http://dbTest/Appointment/setMedicalOfficeRequest" message="tns:setMedicalOffice"/>
<output wsam:Action="http://dbTest/Appointment/setMedicalOfficeResponse" message="tns:setMedicalOfficeResponse"/>
</operation>
<operation name="getEmergencyDateTimestamp">
<input wsam:Action="http://dbTest/Appointment/getEmergencyDateTimestampRequest" message="tns:getEmergencyDateTimestamp"/>
<output wsam:Action="http://dbTest/Appointment/getEmergencyDateTimestampResponse" message="tns:getEmergencyDateTimestampResponse"/>
</operation>
<operation name="getEmergencyDate">
<input wsam:Action="http://dbTest/Appointment/getEmergencyDateRequest" message="tns:getEmergencyDate"/>
<output wsam:Action="http://dbTest/Appointment/getEmergencyDateResponse" message="tns:getEmergencyDateResponse"/>
</operation>
<operation name="getEmergencyReason">
<input wsam:Action="http://dbTest/Appointment/getEmergencyReasonRequest" message="tns:getEmergencyReason"/>
<output wsam:Action="http://dbTest/Appointment/getEmergencyReasonResponse" message="tns:getEmergencyReasonResponse"/>
</operation>
<operation name="getDateTimestamp">
<input wsam:Action="http://dbTest/Appointment/getDateTimestampRequest" message="tns:getDateTimestamp"/>
<output wsam:Action="http://dbTest/Appointment/getDateTimestampResponse" message="tns:getDateTimestampResponse"/>
</operation>
<operation name="getFullName">
<input wsam:Action="http://dbTest/Appointment/getFullNameRequest" message="tns:getFullName"/>
<output wsam:Action="http://dbTest/Appointment/getFullNameResponse" message="tns:getFullNameResponse"/>
</operation>
</portType>
<binding name="AppointmentPortBinding" type="tns:Appointment">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAmka">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getInsuranceName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getExamination">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMedicalOffice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setAmka">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setEmergencyReason">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setExamination">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setFullName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setUserId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setInsuranceName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setEmergencyDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setMedicalOffice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEmergencyDateTimestamp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEmergencyDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEmergencyReason">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDateTimestamp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFullName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AppointmentService">
<port name="AppointmentPort" binding="tns:AppointmentPortBinding">
<soap:address location="http://localhost:8080/erpisWebServices/AppointmentService"/>
</port>
</service>
</definitions>