src/conf/xml-resources/web-service-references/UserService/wsdl/localhost_8080/erpisWebServices/UserService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://dbTest/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://dbTest/" name="UserService">
<types>
<xsd:schema>
<xsd:import namespace="http://dbTest/" schemaLocation="http://localhost:8080/erpisWebServices/UserService?xsd=1"/>
</xsd:schema>
</types>
<message name="getId">
<part name="parameters" element="tns:getId"/>
</message>
<message name="getIdResponse">
<part name="parameters" element="tns:getIdResponse"/>
</message>
<message name="setId">
<part name="parameters" element="tns:setId"/>
</message>
<message name="setIdResponse">
<part name="parameters" element="tns:setIdResponse"/>
</message>
<message name="getRole">
<part name="parameters" element="tns:getRole"/>
</message>
<message name="getRoleResponse">
<part name="parameters" element="tns:getRoleResponse"/>
</message>
<message name="getPassword">
<part name="parameters" element="tns:getPassword"/>
</message>
<message name="getPasswordResponse">
<part name="parameters" element="tns:getPasswordResponse"/>
</message>
<message name="setPassword">
<part name="parameters" element="tns:setPassword"/>
</message>
<message name="setPasswordResponse">
<part name="parameters" element="tns:setPasswordResponse"/>
</message>
<message name="setRole">
<part name="parameters" element="tns:setRole"/>
</message>
<message name="setRoleResponse">
<part name="parameters" element="tns:setRoleResponse"/>
</message>
<message name="setUname">
<part name="parameters" element="tns:setUname"/>
</message>
<message name="setUnameResponse">
<part name="parameters" element="tns:setUnameResponse"/>
</message>
<message name="getUname">
<part name="parameters" element="tns:getUname"/>
</message>
<message name="getUnameResponse">
<part name="parameters" element="tns:getUnameResponse"/>
</message>
<portType name="User">
<operation name="getId">
<input wsam:Action="http://dbTest/User/getIdRequest" message="tns:getId"/>
<output wsam:Action="http://dbTest/User/getIdResponse" message="tns:getIdResponse"/>
</operation>
<operation name="setId">
<input wsam:Action="http://dbTest/User/setIdRequest" message="tns:setId"/>
<output wsam:Action="http://dbTest/User/setIdResponse" message="tns:setIdResponse"/>
</operation>
<operation name="getRole">
<input wsam:Action="http://dbTest/User/getRoleRequest" message="tns:getRole"/>
<output wsam:Action="http://dbTest/User/getRoleResponse" message="tns:getRoleResponse"/>
</operation>
<operation name="getPassword">
<input wsam:Action="http://dbTest/User/getPasswordRequest" message="tns:getPassword"/>
<output wsam:Action="http://dbTest/User/getPasswordResponse" message="tns:getPasswordResponse"/>
</operation>
<operation name="setPassword">
<input wsam:Action="http://dbTest/User/setPasswordRequest" message="tns:setPassword"/>
<output wsam:Action="http://dbTest/User/setPasswordResponse" message="tns:setPasswordResponse"/>
</operation>
<operation name="setRole">
<input wsam:Action="http://dbTest/User/setRoleRequest" message="tns:setRole"/>
<output wsam:Action="http://dbTest/User/setRoleResponse" message="tns:setRoleResponse"/>
</operation>
<operation name="setUname">
<input wsam:Action="http://dbTest/User/setUnameRequest" message="tns:setUname"/>
<output wsam:Action="http://dbTest/User/setUnameResponse" message="tns:setUnameResponse"/>
</operation>
<operation name="getUname">
<input wsam:Action="http://dbTest/User/getUnameRequest" message="tns:getUname"/>
<output wsam:Action="http://dbTest/User/getUnameResponse" message="tns:getUnameResponse"/>
</operation>
</portType>
<binding name="UserPortBinding" type="tns:User">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRole">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setPassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setRole">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setUname">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUname">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UserService">
<port name="UserPort" binding="tns:UserPortBinding">
<soap:address location="http://localhost:8080/erpisWebServices/UserService"/>
</port>
</service>
</definitions>